name: Generate dependabot file 

on:
  schedule:
    - cron: "40 22 * * 6"
  push:
    branches:
      - main
    paths:
      - '.github/workflows/generate-dependabot-file.yml'
      - 'scripts/generate-dependabot-file.sh'
  workflow_dispatch:

permissions: {}

defaults:
  run:
    shell: bash

jobs:

  fetch-secrets:
    uses: ministryofjustice/modernisation-platform-github-actions/.github/workflows/aws-secrets-management.yml@7b8dd97eb5b596a88206805943771ea7ffcde235 # v3.4.8
    secrets:
      MODERNISATION_PLATFORM_ACCOUNT_NUMBER: ${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_NUMBER }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}  
    permissions:
      id-token: write

  create-and-commit-dependabot-file:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    needs: fetch-secrets
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Decrypt Secrets
        uses: ministryofjustice/modernisation-platform-github-actions/decrypt-secrets@7b8dd97eb5b596a88206805943771ea7ffcde235 # v3.4.8
        with:
          slack_webhook_url: ${{ needs.fetch-secrets.outputs.slack_webhook_url}}
          PASSPHRASE: ${{ secrets.PASSPHRASE }}
      - name: Generate file
        run: bash ./scripts/generate-dependabot-file.sh
      - name: Commit changes to GitHub
        run: bash ./scripts/git-setup.sh
      - run: bash ./scripts/git-commit.sh .github
      - run: bash ./scripts/git-pull-request.sh dependabot
        env:
          SECRET: ${{ secrets.GITHUB_TOKEN }}
      - name: Slack failure notification
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          payload: |
            {"blocks":[{"type": "section","text": {"type": "mrkdwn","text": ":no_entry: Failed GitHub Action:"}},{"type": "section","fields":[{"type": "mrkdwn","text": "*Workflow:*\n<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.workflow }}>"},{"type": "mrkdwn","text": "*Job:*\n${{ github.job }}"},{"type": "mrkdwn","text": "*Repo:*\n${{ github.repository }}"}]}]}
        env:
          SLACK_WEBHOOK_URL: ${{ env.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
        if: ${{ failure() }}